{{ define "main" -}}

<div class="homepage-content">
    {{.Content}}
</div>

<h2>Training Modules</h2>
<div class="posts">
    <ul class="all-posts">
        {{range .Site.RegularPages}}
        <li>
            <div>
            <a href="{{.Permalink}}">{{.Title}}</a><br/>
            {{.Summary}}
            </div>
        </li>
        {{end}}
    </ul>
</div>
{{- end }}